body {
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cols {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cole {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.colst {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.red {
    color: red;
}

.black {
    color: black;
}

.white {
    color: white;
}

.hover:hover {
    background-color: #eee;
}

.hoverdark:hover {
    background-color: #ddd;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rows {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.rowe {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.rowst {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.g {
    flex-grow: 1;
}

.p {
    padding: 8px !important;
}

.p2 {
    padding: 16px !important;
}

.px {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.py {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.pl {
    padding-left: 8px !important;
}

.pr {
    padding-right: 8px !important;
}

.pt {
    padding-top: 8px !important;
}

.pb {
    padding-bottom: 8px !important;
}

.m {
    margin: 8px !important;
}

.m2 {
    margin: 16px !important;
}

.mx {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.my {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.ml {
    margin-left: 8px !important;
}

.mr {
    margin-right: 8px !important;
}

.mt {
    margin-top: 8px !important;
}

.mb {
    margin-bottom: 8px !important;
}

.w {
    width: 100%;
}

.h {
    height: 100%;
}

.maxw3xl {
    max-width: 768px;
}

.rounded {
    border-radius: 4px;
}

.card {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 4px;
    padding: 16px;
}

.between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.circle {
    border-radius: 9999px;
}

.hide {
    display: none;
}

.opacity1 {
    opacity: .01;
}

.abs {
    position: absolute;
}

.lt0 {
    left: 0;
    top: 0;
}

.alignend {
    align-self: flex-end;
}

.lgrey {
    color: lightgrey !important;
}

.grey {
    color: grey !important;
}

.dividerv {
    border-left: 2px solid #eee;
    flex-grow: 1;
}

.rounded-xl {
    border-radius: 12px;
}

.border {
    border-width: 1px;
    border: solid lightgrey;
}

.hscreen {
    height: 100vh;
}

.text-xs {
    font-size: 12px !important;
}

.text-sm {
    font-size: 14px !important;
}

.btnicon {
    font-size: 14px !important;
    margin-right: 4px;
    margin-left: 4px;
}

.plainlink {
    text-decoration: none;
    color: inherit;
}

.spacearound {
    justify-content: space-around;
}

.divider {
    border-top: 2px solid #eee;
    width: 98%;
}

.bggrey {
    background-color: grey;
}

.iconbtn {
    color: lightgray !important;
    border-radius: 9999px;
    padding: 8px;
}

.iconbtn:hover {
    background-color: #ddd;
}

@media screen and (max-width: 700px) {
    .mobilehide {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .desktophide {
        display: none;
    }
}

.btn {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-primary {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    background-color: #3f51b5;
    color: white !important;
}

.btn-primary:hover {
    background-color: #4f61c5;
}

.btn-primary:active {
    background-color: #5f71d5;
}

.btn-link:hover {
    background-color: #eee;
}

.btn-outline{
    border: solid grey;
    border-width: 1px;
}
.btn-outline:hover{
    background-color: #eee !important;
}

.material-icons{
    margin-top: 2px;
    margin-right: 2px;
}

.tabbar{
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.tab{
    cursor: pointer;
    padding: 16px;
}
.tab:hover{
    background-color: #eee;
}
.tab-active{
    border-bottom: solid 2px #3f51b5;
}
.breakword{
    word-break: break-all;
}

.footer{
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 300px;
    background-color: #303846;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    color: white;
}