<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body>
    <button hx-post="/clicked" hx-swap="outerHTML">
        Click Me
    </button>
    <button hx-get="/click">
        Click Me!
        <img class="htmx-indicator" src="/spinner.gif">
    </button>
    <button hx-delete="/account" hx-confirm="Are you sure?">
        Delete My Account
    </button>
</body>

</html>